*{
    margin: 0;
    font-family : Arial;
    border: border-box;
}
.navbar{
    height: 120px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.nav-logo{
    height: 120px;
    width: 130px;
    margin-left: 1px;

}
.logo{
    background-image: url("2.png");
    background-size: cover;
    height: 120px;
    width:100%;
}
.border{
    border:2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.nav-search:hover{
    border: 2px solid  blue;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
     width: 100%;
     font-size: 1rem;
     border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 1.2rem;
    background-color: blue;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: black;

}
.panel{
    height: 40px;
    background-color:blue;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.main-section{
    background-image:url("nonco.png");
    background-size: cover;
    height: 400px;
}
.main-text{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}
.content-section{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.box1{
    border: 2px solid black;
    height: 400px;
    width: 30%;
    background-color: rgb(53, 4, 30);
    margin-top: 380px;
    font-size:25px;
    color: white;
}
.box2{
    border: 2px solid black;
    height: 400px;
    width: 30%;
    margin-top: 380px;
    background-color: rgb(53, 4, 30);
    font-size:25px;
    color:white;
    
}
.box3{
    border: 2px solid black;
    height: 400px;
    width: 30%;
    margin-top: 380px;
    background-color: rgb(53, 4, 30);
    font-size:25px;
    color:white;
}
.box1-image{
    background-image: url("shaadi.jpg");
    height:330px;
    width:100%;
    object-fit: cover;
    position: relative;
    
}
.box2-image{
    background-image: url("festivals.jpeg");
    height:330px;
    width:100%;
    object-fit: cover;
    position: relative;
}
.box3-image{
    background-image: url("EX.jpg");
    height:330px;
    width:100%;
    object-fit: cover;
    position: relative;
    
}
.box1:hover{
    border: 8px solid blue;
}
.box2:hover{
    border: 8px solid blue;
}
.box3:hover{
    border: 8px solid blue;
}

.box4{
    border: 2px solid black;
    height: 400px;
    width: 30%;
    background-color: rgb(53, 4, 30);
    margin-top: 17px;
    font-size:25px;
    color: white;

}
.box5{
    border: 2px solid black;
    height: 400px;
    width: 30%;
    margin-top: 17px;
    background-color: rgb(53, 4, 30);
    font-size:25px;
    color:white;
    
}
.box6{
    border: 2px solid black;
    height: 400px;
    width: 30%;
    margin-top: 17px;
    background-color: rgb(53, 4, 30);
    font-size:25px;
    color:white;
}
.box4-image{
    background-image: url("charity.webp");
    height:330px;
    width:100%;
    object-fit: cover;
    position: relative;
    
}
.box5-image{
    background-image: url("pparty.jpg");
    height:330px;
    width:100%;
    object-fit: cover;
    position: relative;
}
.box6-image{
    background-image: url("show.jpg");
    height:330px;
    width:100%;
    object-fit: cover;
    position: relative;
    
}
.box4:hover{
    border: 8px solid blue;
}
.box5:hover{
    border: 8px solid blue;
}
.box6:hover{
    border: 8px solid blue;
}
.foot-panel1{
     background-color: black;
     color: white;
     height: 50px;
     display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 845px;

}


