<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <img src="/css/LOGO.png">
    <h1 class="display-3">The Event Manager</h1>
    <p class="lead">Prepare well for your next Event!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
